<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forum list</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="style.css">


</head>
<body>
	<div class="header">
        <div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="">The Heights And The Slope</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="/forums" class="pure-menu-link">Thread List</a></li>
                <li class="pure-menu-item"><a href="/forums/new" class="pure-menu-link">Create New Thread</a></li>
                
            </ul>
        </div>
    </div>
	<br><br>

	<a href="/forums/new">Create a new thread</a>
	<br>
	
	<%Object.keys(data).forEach(function(key){ %>
		<h2>
		<a href="/forums/<%=data[key].forum_id%>">
			<%= data[key].forum_title%>
		</a>
		</h2> 
		<h5>Posted by:</h5>
		<h5>Comment Count: <%= data[key].count %></h5>
	<br>
	<% }) %>
	<a name="bottom"></a>
</body>
</html>