<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forum Page</title>
</head>
<body>
	<%Object.keys(data).forEach(function(key){ %>
		<h2><%= data[key].forum_title %></h2>
		<h5>Posted by: </h5>
		<p><%= data[key].forum_content %></p>
		


	<% }) %>

	
</body>
</html>