
body{
	background-color: #DADADA;
}

.content{
	padding:20px;	

}

#bg{
	position: fixed;
}

.hidden{
	display:none;
}

.toplist{
	position: relative;
	font-color: black;
	background: linear-gradient(white, white, #DADADA);
}	

button{
  color: white;
  background-color: green;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 75px;
  margin: 10px;
}



