<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Create New User</h1>
		<form action="/user" method="PUT">
			<input type="text" name="user" placeholder="User Name">
			<input type="password" name="password" placeholder="Password">

			<button>Submit</button>

		</form>
</body>
</html>