<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Posts</title>


<style media="screen" type="text/css">
body{
	background-color: #DADADA;
}

.content{
	padding:20px;	

}

#bg{
	position: fixed;
}

.hidden{
	display:none;
}

.toplist{
	position: relative;
	font-color: black;
	background: linear-gradient(white, white, #DADADA);
}	

button{
  color: white;
  background-color: green;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 150px;
  margin: 10px;
}
</style>

</head>
<body>
	
	<div class="toplist">
    <div class="pure-menu pure-menu-horizontal">
      <a class="pure-menu-heading" href="">The Heights And The Slope</a>
      	<ul class="pure-menu-list">
        	<li class="pure-menu-item"><a href="/forums" class="pure-menu-link">Thread List</a></li>
          <li class="pure-menu-item"><a href="/forums/new" class="pure-menu-link">Create New Thread</a></li>
                
        </ul>
    </div>
  </div>
<br><br>


<div>

		<%Object.keys(table).forEach(function(key){%>
	<h2>Posts by <%= table[key].user_name %>:</h2>
		<h4><%= table[key].forum_title %> </h2>
		

	<% }) %>


</div>

<br><br>
<a href="/forums">Back to forums list</a>
<a name="bottom"></a>



</body>
</html>